@import './ui-components/global-vars.scss';
@import './ui-components/sidebar.scss';
@import './ui-components/main-content.scss';
@import './ui-components/header.scss';
@import './ui-components/coupons-container.scss';
@import './ui-components/coupon.scss';
@import './ui-components/coupon-content.scss';
@import '../fonts/my-fonts.scss';

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-width: 305px;
}