@media screen and (min-width: $desktopMinWidth) {
  .coupons-container {
    padding: 20px 60px 40px 40px;
  }
}

@media screen and (min-width: $tabletMinWidth) and (max-width: $desktopMinWidth) {
  .coupons-container {
    padding: 7px 26px 27px 6px;
  }
}

@media screen and (max-width: $tabletMinWidth) {
  .coupons-container {
    padding: 12px 20px 27px 5px;
  }
}

.coupons-container {
  display: flex;
  flex-wrap: wrap;
  height: 452px;
  overflow-y: auto;
}