@media screen and (max-width: $desktopMinWidth) {
  .main-content {
    position: relative;
    left: -48px;
    margin-right: -48px;
  }
}

.main-content {
  width: 100%;

  .hr-line {
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #E5E5E5;
  }
}