$companyLogo: url('../icons/company-logo.svg');
$iconCatalogueDefault: url('../icons/sidebar/catalogue-default.svg') no-repeat;
$iconCatalogueActive: url('../icons/sidebar/catalogue-active.svg') no-repeat;
$iconHealthDefault: url('../icons/sidebar/health-default.svg') no-repeat;
$iconHealthActive: url('../icons/sidebar/health-active.svg') no-repeat;
$iconBeautyDefault: url('../icons/sidebar/beauty-default.svg') no-repeat;
$iconBeautyActive: url('../icons/sidebar/beauty-active.svg') no-repeat;
$iconEntertainmentDefault: url('../icons/sidebar/entertainment-default.svg') no-repeat;
$iconEntertainmentActive: url('../icons/sidebar/entertainment-active.svg') no-repeat;
$iconCar: url('../icons/sidebar/car-default.svg') no-repeat;
$iconCarActive: url('../icons/sidebar/car-active.svg') no-repeat;

$iconCloseSidebarButton: url('../icons/sidebar/close-sidebar-button.svg') no-repeat;
$iconOPenSidebarButton: url('../icons/sidebar/open-sidebar-button.svg') no-repeat;

$sidebarBacground: #F3F4F9;

$desktopSidebarWidth: 240px;
$tabletSidebarOpenWidth: 240px;
$tabletSidebarClosedWidth: 104px;
$mobileSidebarOpenWidth: 192px;
$mobileSidebarClosedWidth: 12px;

$closingOpeningSidebarButtonWidth: 48px;
$closingOpeningSidebarButtonHeight: 106px;

@media screen and (min-width: $desktopMinWidth) {
  .sidebar-container {
    width: $desktopSidebarWidth;
  }

  .company {
    padding: 41px;

    &-logo {
      height: 50px;
      width: 50px;
    }

    &-name {
      padding-left: 10px;
      align-self: center;
      font-size: 16px;
    }
  }

  .closing-opening-sidebar-button {
    display: none;
  }

  .category {
    .mark {
      width: 3px;
      height: 24px;
      margin-right: 37px;
    }

    .heading {
      padding-left: 12px;
    }
  }
}

@media screen and (min-width: $tabletMinWidth) and (max-width: $desktopMinWidth) {
  .sidebar {
    .category {
      .mark {
        width: 3px;
        height: 24px;
        margin-right: 37px;
      }
    }

    &.open {
      position: fixed;
      z-index: 1;

      .sidebar-container {
        width: $tabletSidebarOpenWidth;
      }

      .company {
        padding: 41px 0 47px 41px;

        &-logo {
          height: 24px;
          width: 24px;
        }

        &-name {
          padding-left: 5px;
          align-self: center;
          font-size: 16px;
        }
      }

      .category {
        .heading {
          padding-left: 12px;
        }
      }
    }

    &.closed {
      .sidebar-container {
        width: $tabletSidebarClosedWidth;
      }

      .company {
        padding: 41px 0 47px 41px;

        &-logo {
          height: 24px;
          width: 24px;
        }

        &-name {
          display: none;
        }
      }

      .category {
        .heading {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $tabletMinWidth) {
  .sidebar {
    .category {
      .icon {
        display: none;
      }
    }

    &.open {
      position: fixed;
      z-index: 1;

      .sidebar-container {
        width: $mobileSidebarOpenWidth;
      }

      .company {
        padding: 40px 20px;

        &-logo {
          height: 24px;
          width: 24px;
        }

        &-name {
          padding-left: 5px;
          align-self: center;
          font-size: 16px;
        }
      }

      .category {
        .heading {
          padding-left: 17px;
          ;
        }
      }
    }

    &.closed {
      .sidebar-container {
        width: $mobileSidebarClosedWidth;
      }

      .company {

        &-logo,
        &-name {
          display: none;
        }
      }

      .category {
        .heading {
          display: none;
        }
      }
    }
  }
}

.sidebar {
  display: flex;

  &.open {
    .closing-opening-sidebar-button {
      background: $iconCloseSidebarButton;
    }
  }

  &.closed {
    .closing-opening-sidebar-button {
      background: $iconOPenSidebarButton;
    }
  }
}

.closing-opening-sidebar-button {
  width: $closingOpeningSidebarButtonWidth;
  height: $closingOpeningSidebarButtonHeight;
  border: none;
}

.sidebar-container {
  background: $sidebarBacground;
  height: 100%;
}

.company {
  display: flex;

  &-logo {
    background: $companyLogo;
    background-size: contain;
  }

  &-name {
    font-family: PoppinsNormal, sans-serif;
  }
}

.category {
  height: 64px;
  display: flex;

  .mark {
    align-self: center;

    &.active {
      background: $activeColor;
    }
  }

  .icon {
    align-self: center;
    width: 24px;
    height: 24px;
  }

  .heading {
    align-self: center;
    font-size: 16px;
    font-family: OpenSansNormal, sans-serif;

    &.active {
      color: $activeColor;
    }
  }
}

.catalogue {
  .icon {
    &.default {
      background: $iconCatalogueDefault;
    }

    &.active {
      background: $iconCatalogueActive;
    }
  }
}

.health {
  .icon {
    &.default {
      background: $iconHealthDefault;
    }

    &.active {
      background: $iconHealthActive;
    }
  }
}

.beauty {
  .icon {
    &.default {
      background: $iconBeautyDefault;
    }

    &.active {
      background: $iconBeautyActive;
    }
  }
}

.entertainment {
  .icon {
    &.default {
      background: $iconEntertainmentDefault;
    }

    &.active {
      background: $iconEntertainmentActive;
    }
  }
}

.car {
  .icon {
    &.default {
      background: $iconCar;
    }

    &.active {
      background: $iconCarActive;
    }
  }
}